@import '~antd/dist/antd.css';


.App {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App-link {
  color: #61dafb;
}

li {list-style: none;}

body {
  background-color: #F3F3F3;
  animation: 0.4s;
}

.pagecontainer{
  padding-bottom: 10px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.nav-header {
  height: 72px;
  line-height: 72px;
  display: flex;
  
  /* background-color: rgb(120, 120, 120); */
  /* background-color: #d32029; */
  background-color:#e84749
}

.nav-header-ul {
  display: flex;
  justify-content: space-around;
  line-height: 67px;
  height: 100%;
  position: relative;
  margin: 0 3%;
}

.nav-header-ul-li {
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}


.nav-header-ul-li-link {
  color: #fff;
  font-weight: 600;
  line-height: 72px;
  height: 72px;
  padding: 15px;
}

.nav-header-ul-li-link:hover{
  color: black;
}

.nav-header-ul-li-link{
  color: white;
}

.nav-header-ul-li-link:focus {
  color: black;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgb(176, 175, 175) 0px 7px 29px 0px;
}

.logo {
  height: 100%;
  min-width: 36px;
  
}

.logo-img {
  height: 100%;
 min-width: 36px;
  background-size: cover;
}



.nav-span{
  position: absolute;
  /* right: 22%; */
  color: #fff;
  visibility: hidden;
  font-size: 24px;
  cursor: pointer;
}

.nav-span-avatar{
  position: absolute;
  right: 5%;
  color: #fff;
  /* visibility: hidden; */
  font-size: 24px;
  cursor: pointer;
  line-height: 64px;
}

@media only screen and (max-width: 1090px) {
  .img-posts {
    width: 100%;
  }
.nav-header-ul{margin: 0 10%;}
.nav-span{
  visibility: visible;
  left: 2%;
}
.nav-span-avatar{visibility: visible; right: 10%; line-height: 64px;}
.nav-header-ul-li-link {
  visibility: hidden;
}
}